
.gradle/
**/build/  # This is a general rule to ignore all 'build' directories

!**/src/main/**/build/
!**/src/test/**/build/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


gradle-app.setting
.gradletasknamecache


.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


.project
.classpath
.apt_generated    # from local
.factorypath     # from local
.settings/       # from local (added / as it's usually a directory)
.springBeans     # from local
.sts4-cache      # from local
bin/             # from local
!**/src/main/**/bin/ # from local
!**/src/test/**/bin/ # from local


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.vscode/